In [13]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import warnings
import datetime
import glob
%matplotlib inline

## Reading John's results
The purpose of this is to compile all the information John has gather into two csv files(summer 2015 and summer 2016)

In [11]:
rides = pd.read_csv('C:/Users/Sammauel/Documents/DataScience/Citibike/august_2015_with_roundtrip.csv')
rides.drop('Unnamed: 0', axis=1, inplace=True)
rides.head(5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,roundtrip
0,1202,8/1/2015 00:00:04,8/1/2015 00:20:07,168,W 18 St & 6 Ave,40.739713,-73.994564,385,E 55 St & 2 Ave,40.757973,-73.966033,23253,Subscriber,1987.0,1,0
1,301,8/1/2015 00:00:05,8/1/2015 00:05:06,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,22675,Subscriber,1951.0,2,0
2,431,8/1/2015 00:00:06,8/1/2015 00:07:18,312,Allen St & E Houston St,40.722055,-73.989111,296,Division St & Bowery,40.714131,-73.997047,19831,Subscriber,1985.0,1,0
3,273,8/1/2015 00:00:09,8/1/2015 00:04:43,382,University Pl & E 14 St,40.734927,-73.992005,229,Great Jones St,40.727434,-73.993790,22765,Subscriber,1975.0,1,0
4,1256,8/1/2015 00:00:17,8/1/2015 00:21:13,352,W 56 St & 6 Ave,40.763406,-73.977225,432,E 7 St & Avenue A,40.726218,-73.983799,22127,Subscriber,1978.0,1,0

### Concat and Glob
We can read all the given files in our set path as shown below and read them into our df called summer 2015.
from there we run a for loop that will take all possible files in the path and append them together. Finally we use pandas built in concat to combine them together.

In [17]:
path =r'C:\Users\Sammauel\Documents\DataScience\Citibike' # use your path
allFiles = glob.glob(path + "/*.csv")
summer2015 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
summer2015 = pd.concat(list_)

In [19]:
summer2015.drop('Unnamed: 0', axis=1, inplace=True)
summer2015.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,roundtrip
958043,440,8/31/2015 23:58:42,9/1/2015 00:06:03,439,E 4 St & 2 Ave,40.726281,-73.989780,461,E 20 St & 2 Ave,40.735877,-73.982050,15614,Subscriber,1989.0,1,0
958044,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,0
958045,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,0
958046,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,0
958047,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,0

## Save the df as a csv
In order for everyone to be on the same page before submitting a final ipynotebook I decided to save everyone as a csv. Please note that while it does save all the information we can not load all the information in Excel(limited row/col) but all the information is intact.

In [25]:
summer2015.to_csv('summer_2015_with_roundtrip.csv', sep=',', encoding='utf-8')

In [27]:
testdf = pd.read_csv('C:/Users/Sammauel/Documents/DataScience/Citibike/summer_2015_with_roundtrip.csv')
testdf.tail()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,roundtrip
2674195,958043,440,8/31/2015 23:58:42,9/1/2015 00:06:03,439,E 4 St & 2 Ave,40.726281,-73.989780,461,E 20 St & 2 Ave,40.735877,-73.982050,15614,Subscriber,1989.0,1,0
2674196,958044,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,0
2674197,958045,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,0
2674198,958046,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,0
2674199,958047,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,0

In [28]:
# Lets do it again for 2016
path =r'C:\Users\Sammauel\Documents\DataScience\Citibike\summer2016' # use your path
allFiles = glob.glob(path + "/*.csv")
summer2016 = pd.DataFrame()
list_ = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
summer2016 = pd.concat(list_)

In [29]:
summer2016.drop('Unnamed: 0', axis=1, inplace=True)
summer2016.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,roundtrip
958043,440,8/31/2015 23:58:42,9/1/2015 00:06:03,439,E 4 St & 2 Ave,40.726281,-73.989780,461,E 20 St & 2 Ave,40.735877,-73.982050,15614,Subscriber,1989.0,1,0
958044,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,0
958045,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,0
958046,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,0
958047,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,0

In [30]:
summer2016.to_csv('summer_2016_with_roundtrip.csv', sep=',', encoding='utf-8')

In [31]:
testdf2 = pd.read_csv('C:/Users/Sammauel/Documents/DataScience/Citibike/summer_2015_with_roundtrip.csv')
testdf2.tail()

,Unnamed: 0,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,roundtrip
2674195,958043,440,8/31/2015 23:58:42,9/1/2015 00:06:03,439,E 4 St & 2 Ave,40.726281,-73.989780,461,E 20 St & 2 Ave,40.735877,-73.982050,15614,Subscriber,1989.0,1,0
2674196,958044,423,8/31/2015 23:58:43,9/1/2015 00:05:47,3119,Vernon Blvd & 50 Ave,40.742327,-73.954117,3118,McGuinness Blvd & Eagle St,40.735550,-73.952840,18686,Subscriber,1988.0,1,0
2674197,958045,1021,8/31/2015 23:58:54,9/1/2015 00:15:56,518,E 39 St & 2 Ave,40.747804,-73.973442,348,W Broadway & Spring St,40.724910,-74.001547,23487,Subscriber,1970.0,1,0
2674198,958046,1896,8/31/2015 23:59:11,9/1/2015 00:30:47,336,Sullivan St & Washington Sq,40.730477,-73.999061,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,23509,Subscriber,1982.0,1,0
2674199,958047,105,8/31/2015 23:59:41,9/1/2015 00:01:26,476,E 31 St & 3 Ave,40.743943,-73.979661,546,E 30 St & Park Ave S,40.744449,-73.983035,23947,Subscriber,1975.0,1,0

Cool! This works and allows us to work with 2 files instead of 6.
The next plan is story telling about the two years of summer. I will look into the population of the whole 3 months for both summers and round trips.  The purpose of the story is to tell why Citibank would want to consider adding stationIDs based on round trips on certain location(subject to change). - Samuel Quintana

-Sunday 12/4/2016