In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
data = pd.read_csv('data/201606-citibike-tripdata.csv')

In [39]:
data.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1470,6/1/2016 00:00:18,6/1/2016 00:24:48,380,W 4 St & 7 Ave S,40.734011,-74.002939,3236,W 42 St & Dyer Ave,40.758985,-73.993800,19859,Subscriber,1972.0,1
1,229,6/1/2016 00:00:20,6/1/2016 00:04:09,3092,Berry St & N 8 St,40.719009,-73.958525,3103,N 11 St & Wythe Ave,40.721533,-73.957824,16233,Subscriber,1967.0,1
2,344,6/1/2016 00:00:21,6/1/2016 00:06:06,449,W 52 St & 9 Ave,40.764618,-73.987895,469,Broadway & W 53 St,40.763441,-73.982681,22397,Subscriber,1989.0,1
3,1120,6/1/2016 00:00:28,6/1/2016 00:19:09,522,E 51 St & Lexington Ave,40.757148,-73.972078,401,Allen St & Rivington St,40.720196,-73.989978,16231,Subscriber,1991.0,1
4,229,6/1/2016 00:00:53,6/1/2016 00:04:42,335,Washington Pl & Broadway,40.729039,-73.994046,285,Broadway & E 14 St,40.734546,-73.990741,15400,Subscriber,1989.0,1

Let's find out how the riders behave in weekends.

In [40]:
import time
import datetime
import calendar
roundtrip=data
weekend=[]
f = "%m/%d/%Y %H:%M:%S"
for i in range(len(data)):
    weekend.append(calendar.day_name[datetime.datetime.strptime(data["starttime"].values[i],f).weekday()])

In [41]:
roundtrip["date of week"]=weekend
#get the data in weekends
roundtrip=roundtrip[roundtrip["date of week"].isin(["Saturday","Sunday"])]
one_way=roundtrip
len(data),len(roundtrip),len(one_way)

(1460318, 325204, 325204)

In [42]:
#get data of roundtrip
roundtrip=roundtrip[roundtrip["start station name"]==roundtrip["end station name"]]
#get data of one way trip
one_way=one_way[one_way["start station name"]!=one_way["end station name"]]
len(roundtrip),len(one_way)

(11723, 313481)

In [43]:
roundtrip.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date of week
148085,3701,6/4/2016 00:04:03,6/4/2016 01:05:45,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,18955,Customer,NaN,0,Saturday
148092,511,6/4/2016 00:04:28,6/4/2016 00:13:00,3226,W 82 St & Central Park West,40.782750,-73.971370,3226,W 82 St & Central Park West,40.782750,-73.971370,22497,Subscriber,1988.0,1,Saturday
148107,696,6/4/2016 00:05:05,6/4/2016 00:16:41,3238,E 80 St & 2 Ave,40.773914,-73.954395,3238,E 80 St & 2 Ave,40.773914,-73.954395,23014,Subscriber,1968.0,1,Saturday
148119,450,6/4/2016 00:06:21,6/4/2016 00:13:52,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,15353,Subscriber,NaN,0,Saturday
148378,1914,6/4/2016 00:29:56,6/4/2016 01:01:50,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,3180,Brooklyn Bridge Park - Pier 2,40.698780,-73.997120,18013,Customer,NaN,0,Saturday

In [1]:
"""tripduration1=roundtrip["tripduration"].values
plt.hist(tripduration1, 20, range=[0, 8000], facecolor='green')
plt.title("Timeduration in weekends in June 2016")
plt.xlabel("Time(seconds)")
plt.ylabel("Number of riders")"""

'tripduration1=roundtrip["tripduration"].values\nplt.hist(tripduration1, 20, range=[0, 8000], facecolor=\'green\')\nplt.title("Timeduration in weekends in June 2016")\nplt.xlabel("Time(seconds)")\nplt.ylabel("Number of riders")'

In [2]:
"""
count1=0
count2=0
count3=0
count4=0
count5=0
for i in tripduration1:
    if(i<=600):#10 minutes
        count1=count1+1
    elif(i>600 and i<=1800):#30 minutes
        count2=count2+1
    elif(i>1800 and i<=3600):# 1 hour
        count3=count3+1
    elif(i>3600 and i<=7200):# 2 hours
        count4=count4+1
    else:
        count5=count5+1
count=[count1,count2,count3,count4,count5]
t=["<10 minutes","10-30 minutes","30-60 minutes","60-120 minutes",">120 minutes"]
plt.bar(range(5),count,tick_label=t)
plt.xticks(rotation=45)
plt.title("Timeduration in weekends in June 2016")
plt.xlabel("Time")
plt.ylabel("Number of riders")
"""

'\ncount1=0\ncount2=0\ncount3=0\ncount4=0\ncount5=0\nfor i in tripduration1:\n    if(i<=600):#10 minutes\n        count1=count1+1\n    elif(i>600 and i<=1800):#30 minutes\n        count2=count2+1\n    elif(i>1800 and i<=3600):# 1 hour\n        count3=count3+1\n    elif(i>3600 and i<=7200):# 2 hours\n        count4=count4+1\n    else:\n        count5=count5+1\ncount=[count1,count2,count3,count4,count5]\nt=["<10 minutes","10-30 minutes","30-60 minutes","60-120 minutes",">120 minutes"]\nplt.bar(range(5),count,tick_label=t)\nplt.xticks(rotation=45)\nplt.title("Timeduration in weekends in June 2016")\nplt.xlabel("Time")\nplt.ylabel("Number of riders")\n'

In [46]:
one_way.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date of week
148041,390,6/4/2016 00:00:03,6/4/2016 00:06:33,293,Lafayette St & E 8 St,40.730287,-73.990765,380,W 4 St & 7 Ave S,40.734011,-74.002939,20098,Subscriber,1982.0,1,Saturday
148042,337,6/4/2016 00:00:08,6/4/2016 00:05:45,432,E 7 St & Avenue A,40.726218,-73.983799,411,E 6 St & Avenue D,40.722281,-73.976687,17965,Subscriber,1983.0,1,Saturday
148043,1074,6/4/2016 00:00:26,6/4/2016 00:18:20,532,S 5 Pl & S 4 St,40.710451,-73.960876,3016,Kent Ave & N 7 St,40.720368,-73.961651,23581,Customer,NaN,0,Saturday
148044,1047,6/4/2016 00:00:30,6/4/2016 00:17:57,2004,6 Ave & Broome St,40.724399,-74.004704,331,Pike St & Monroe St,40.711731,-73.991930,17643,Subscriber,1987.0,1,Saturday
148045,881,6/4/2016 00:00:33,6/4/2016 00:15:14,328,Watts St & Greenwich St,40.724055,-74.009660,462,W 22 St & 10 Ave,40.746920,-74.004519,22146,Subscriber,1985.0,1,Saturday

In [47]:
#get all station names
start_name=[]
start_name=data["start station name"]
start_name=set(start_name)
start_name=list(start_name)
new_data=pd.DataFrame(start_name)
new_data.head()

                           0
0      Fulton St & Grand Ave
1    E 53 St & Lexington Ave
2       Frost St & Meeker St
3      Bayard St & Baxter St
4  Clinton St & Joralemon St

In [48]:
roundtrip_name=roundtrip["start station name"].values
one_way_name=one_way["start station name"].values
round_count=[]
one_way_count=[]
#count number of roundtrip in each station
for name in start_name:
    count=0
    for round_name in roundtrip_name:
        if(name==round_name):
            count=count+1
    round_count.append(count)
#count number of one way trip in each station
for name in start_name:
    count=0
    for one_name in one_way_name:
        if(name==one_name):
            count=count+1
    one_way_count.append(count)

In [50]:
#get dataframe that is sorted by round trip number
new_data['count of round trip']=round_count
new_data['count of one way trip']=one_way_count
new_data.columns=['start station name','count of round trip','count of one way trip']
new_data=new_data.sort_values(by='count of round trip', ascending=False)
new_data=new_data.reset_index()
del new_data["index"]
new_data.head()

              start station name  count of round trip  count of one way trip
0                W 39 St & 9 Ave                  575                   2447
1     S Portland Ave & Hanson Pl                  530                    447
2           Front St & Maiden Ln                  300                    459
3           Vernon Blvd & 50 Ave                  239                   2117
4  Brooklyn Bridge Park - Pier 2                  198                   1773